.auth__form {
    min-width: 280px;
    max-width: 340px;
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
}
.auth__form_body {
    padding: 0.7rem 1.5rem;
    border-radius: 0.5rem;
    background: #212529;
    border: 1px solid #bb86fc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    width: 100%;
}
.auth__form_title {
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}
.auth__form_actions {
    text-align: center;
    padding: 1rem 2rem 0 2rem;
    width: 100%;
}
.link{
    text-align: center;
    text-decoration: none;
    color: #bb86fc;
    display: block;
    margin-top: 1rem;
}